<div id="sidebar_plugin_automaticshutdown" class="input-group">
	<label class="checkbox">
		<input type="checkbox" data-bind="enable: loginState.isUser(), checked: automaticShutdownEnabled">
		{{ _('Shutdown after print finishes') }}
	</label>
	<button class="btn" id="shutdown_now" data-bind="enable: loginState.isUser(), click: shutdownNow">
		{{ _('Shutdown Now') }}	
	</button>
</div>
